In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Replace 'your_file_path.csv' with the path to your dataset
heart_data = pd.read_csv('cleaned data/kaggle data/processed_kaggleheart.csv')
heart_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
# Sample mapping (modify according to your specific needs)
heart_data['Sex'] = heart_data['Sex'].map({'M': 'Male', 'F': 'Female'})
heart_data['ExerciseAngina'] = heart_data['ExerciseAngina'].map({'Y': 'Yes', 'N': 'No'})
heart_data['ChestPainType'] = heart_data['ChestPainType'].map({'ATA': 'Atypical Angina', 
                                                               'NAP': 'Non-Anginal Pain', 
                                                               'ASY': 'Asymptomatic', 
                                                               'TA': 'Typical Angina'})
heart_data['RestingECG'] = heart_data['RestingECG'].map({'Normal': 'Normal', 
                                                         'ST': 'ST-T Wave Abnormality', 
                                                         'LVH': 'Left Ventricular Hypertrophy'})
heart_data['ST_Slope'] = heart_data['ST_Slope'].map({'Up': 'Upsloping', 
                                                     'Flat': 'Flat', 
                                                     'Down': 'Downsloping'})

# Display the modified DataFrame to check the changes
heart_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,Male,Atypical Angina,140,289,0,Normal,172,No,0.0,Upsloping,0
1,49,Female,Non-Anginal Pain,160,180,0,Normal,156,No,1.0,Flat,1
2,37,Male,Atypical Angina,130,283,0,ST-T Wave Abnormality,98,No,0.0,Upsloping,0
3,48,Female,Asymptomatic,138,214,0,Normal,108,Yes,1.5,Flat,1
4,54,Male,Non-Anginal Pain,150,195,0,Normal,122,No,0.0,Upsloping,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,Male,Typical Angina,110,264,0,Normal,132,No,1.2,Flat,1
914,68,Male,Asymptomatic,144,193,1,Normal,141,No,3.4,Flat,1
915,57,Male,Asymptomatic,130,131,0,Normal,115,Yes,1.2,Flat,1
916,57,Female,Atypical Angina,130,236,0,Left Ventricular Hypertrophy,174,No,0.0,Flat,1
917,38,Male,Non-Anginal Pain,138,175,0,Normal,173,No,0.0,Upsloping,0

In [4]:
encoder = OneHotEncoder(sparse_output=False)
categorical_columns = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']
encoded_data = pd.DataFrame(encoder.fit_transform(heart_data[categorical_columns]))

# Update column names to reflect encoded features
encoded_data.columns = encoder.get_feature_names_out(categorical_columns)

# Drop original categorical columns
heart_data_encoded = heart_data.drop(categorical_columns, axis=1)

# Concatenate encoded columns
onehotencodingheartdata = pd.concat([heart_data_encoded, encoded_data], axis=1)

onehotencodingheartdata

onehotencodingheartdata.to_csv('cleaned data/kaggle data/encoded_kaggleheart.csv', index=False)